<form [formGroup]="formLogin">
  <mat-card>
    <mat-card-title class="center"> Accès aux devoirs</mat-card-title>
    <mat-card-content class="fields center">
      <mat-form-field appearance="outline">
        <mat-label>login</mat-label>
        <input matInput formControlName="login" type="text">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>password</mat-label>
        <input matInput formControlName="mdp" type="password">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="connection()">Se connecter</button>
    </mat-card-actions>
  </mat-card>
</form>
