<mat-card *ngIf="assignmentTransmis">
  <div class="content">
  <mat-card-title>Auteur : {{assignmentTransmis.auteur}}</mat-card-title>
  <mat-card-subtitle>Date de rendu :{{assignmentTransmis.dateDeRendu | date}}</mat-card-subtitle>
  <mat-card-content>
    nom du devoir: {{assignmentTransmis.nom}}
  </mat-card-content>
  <mat-card-content *ngIf="assignmentTransmis.note && assignmentTransmis.note >= 0">
    note : {{assignmentTransmis.note}}
  </mat-card-content>
  <mat-card-content *ngIf="assignmentTransmis.remarques">
   remarques : {{assignmentTransmis.remarques}}
  </mat-card-content>
    <ng-container *ngIf="assignmentTransmis.matiere">
      <mat-card-content>
      nom de la matière : {{assignmentTransmis.matiere.nom}}
      </mat-card-content>
      <mat-card-content>
        <img [src]="assignmentTransmis.matiere.urlImageMatiere" alt="image de la matiere">
      </mat-card-content>
      <mat-card-content>
        <img [src]="assignmentTransmis.matiere.urlPhotoProf" alt="image du professeur">
      </mat-card-content>
    </ng-container>
  </div>
  <div class="bottom">
    <mat-checkbox *ngIf="!assignmentTransmis.rendu && (assignmentTransmis.note && assignmentTransmis.note >= 0)"
                  (click)="onAssignmentRendu()">Rendu</mat-checkbox>
    <nav>
        <button [disabled]="!isAdmin()" mat-stroked-button color="accent" (click)="onClickEdit()">
          EDIT
        </button>
    </nav>

    <button mat-raised-button color="warn" (click)="onDeleteAssignment()">
      DELETE
    </button>

    <button mat-raised-button color="primary" (click)="retourAsssignments()">
      <mat-icon>home</mat-icon>
      Retour
    </button>
  </div>
</mat-card>
